@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --crimson: #990000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-crimson: var(--crimson);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
